<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="w3-top">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <!--<a href="#home" class="w3-bar-item w3-button"><b>AAC</b></a>-->

            <div class="w3-right w3-hide-small">
                <a href="#home" class="w3-bar-item w3-button">Strona główna</a>
                <a href="#about" class="w3-bar-item w3-button">O nas</a>
                <a href="#translator" class="w3-bar-item w3-button">Translator</a>
                <a href="#login" class="w3-bar-item w3-button">Zaloguj</a>
            </div>
        </div>
    </div>

    <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
        <img id="contentimg" class="w3-image" src="{{url_for('static', filename='img/content.png')}}" alt="Architecture" width="1500" height="800">
    </header>

    <div id="content">{% block content %}{% endblock %}</div>


    <footer class="w3-center w3-black w3-padding-16">
        <p>Copyright © 2020.  All rights reserved.</p>
    </footer>
</body>
</html>